
red: #cc0000
bg: url(images/bg.png)

body
  :background #fff !bg 0 0 no-repeat
  :font 11px Calibri, "Lucida Grande", sans-serif
  h2
    :font-weight normal
    a
      :color {red}
  form
    :margin 0
    :padding 0
  ul
    li
      a
        :display none
      :margin 0
      :padding 5px
    :margin 0

form
  input
    :border none